.contenedor-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px; 
}

#propiedades h2 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 60px;
}

.card {
  width: 300px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: var(--radio); 
  transition: transform 0.3s ease; 
}


.card p {
  margin-bottom: 15px;
  flex-grow: 1;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: calc(var(--radio) - 5px); /* Nota: Ajuste estético para la imagen dentro de la card */
}

.card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--azul);
}

.card a {
  display: inline-block;
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  text-align: center; /* Nota: Centrar el texto del botón */
  border-radius: 5px;
}
