#alquiler,
#venta {
  padding: 80px 40px;
}

#alquiler h2,
#venta h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--azul);
}

.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: 30px;
  width: 100%;
  
}

.item-galeria img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  border-radius: var(--radio);
  transition: transform 0.3s ease;
}

.item-galeria p {
  padding: 10px 0;
  font-weight: 500;
}

.item-galeria img:hover {
  transform: scale(1.03);
}


.beneficios {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
  text-align: center;
  flex-wrap: wrap; 
}
.beneficio {
  background-color: white;
  padding: 30px 20px;
  width: 250px;
  border-radius: 10px;
}

.beneficio i {
  font-size: 2rem;
  color: var(--azul);
  margin-bottom: 15px;
}

.beneficio h3 {
  color: var(--azul);
  margin-bottom: 10px;
}

.beneficio p {
  font-size: 0.95rem;
}