*{
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: rgb(54,54, 156);
    border: solid black;
}

.flex-item {
    background-color: white;
    border: solid black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
}
.flex-equal-space {
/*Esta propiedad genera espacio entre los items, pero no deja espacio en los bordes laterales*/    
    justify-content: space-between;
}
.flex-space-around {
    /*Esta propiedad genera espacio entre los items, pero también deja espacio en los bordes laterales*/
    justify-content: space-around;
}
.flex-justify-content:{
    /*Esta propiedad genera espacio entre los items, pero también deja espacio en los bordes laterales, pero el espacio entre los items es igual al espacio en los bordes laterales*/
    justify-content: space-evenly;}