footer {
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 30px 20px;
}
footer p {
    margin-bottom: 10px;
}
footer {
    background-color: #1f3b5b;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.info-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.info-footer p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright {
    font-size: 0.9rem;
    justify-content: center;
}