/* Importa los estilos de cada sección */
@import url("./header.css");
@import url("./home.css");
@import url("./cards.css");
@import url("./galeria.css");
@import url("./contacto.css");
@import url("./footer.css");
/*Reset de estilos para evitar inconsistencias entre navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables de colores y estilos para mantener la coherencia en el diseño */
:root {
    --azul: #1f3b5b;
    --gris: #f4f4f4;
    --texto: #333;
    --radio: 15px;/* Radio de bordes para botones y tarjetas */
}
/* Estilos generales para el cuerpo del documento, aplicando la fuente, colores y espaciado */
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--gris);
    color: var(--texto);
    line-height: 1.5;

}
/* Estilos para las imágenes, asegurando que se adapten al contenedor sin distorsionarse */
img {
    max-width: 100%;
    display: block;
}
/* afecta a todos los elementos dentro del main, para darles un poco de espacio y evitar que estén pegados al borde de la pantalla */
main {
    padding-top: 0px; /*espacio entre la imagen y el texto del logo*/
}

#home,
#propiedades,
#alquiler,
#venta,
#tasacion {
  scroll-margin-top: 120px;
}