header {
    position: fixed; /* Fija el header en la parte superior de la página */
    top: 0;/* Agrega un margen superior para que no quede pegado al borde */
    left: 0;/* Asegura que el header ocupe todo el ancho de la pantalla */
    min-height: 25px; /* Establece un ancho mínimo para el header */

    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    
    background-color: #f4f4f4;
    
    padding: 20px 40px;/* Espaciado interno */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    box-sizing: border-box;/* Asegura que el padding no aumente el ancho total del header */

    display: flex;/* Usa flexbox para organizar el contenido del header */
    justify-content: space-between;/* Distribuye el espacio entre el logo y el menú */
    align-items: center;/* Centra verticalmente el contenido del header */

    z-index: 10;/* Asegura que el header esté por encima de otros elementos */
    font-size: 1.2rem;/* Tamaño de fuente legible */
    color: #1f3b5b;
}

header img {
    height: 60px;/* Altura fija para el logo */
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #1f3b5b;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 150px;
    height: auto;
    display: block;
}

.logo span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1f3b5b;
}